<!DOCTYPE html>
<html lang="en">
    <body>
        <div>
            <div class="container">
                <h2>Unity</h2>
                <hr />
                <h2>Email statistic in : {{ time }}</h2>
                <div>
                    <span>Email number: </span><b>{{ count }}</b>
                </div>
                <div>
                    <span>New this month: </span><b>{{ new_this_month }}</b>
                </div>
                <div>
                    <span>Unsubscribed: </span><b>{{ unsubscribed }}</b>
                </div>
            </div>
        </div>
    </body>
</html>
