DEBUG=1
ALLOWED_HOSTS=*
DATABASE_URL=postgresql://user:password@host:port/database
SMTP_HOST=smtp_host
SMTP_PASSWORD=smtp_password
EC2_USER=ubuntu
DOMAIN=domain
STATIC_URL=/static/
AMQP_URL=amqp://
CELERY_RESULT_BACKEND=rpc://
SELLER_EMAIL=seller_mail@gmail.com